#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RU

STRINGTABLE
BEGIN
    IDS_SETUP_UNINSTALL_PROMPT  "Вы уверены, что хотите удалить ExplorerPatcher со своего компьютера?"
    IDS_SETUP_INSTALL_LOGOFF    "Во время установки, ваш сеанс в Windows будет автоматически завершен. ExplorerPatcher будет готов к использованию, когда вы снова войдете в систему.\n\nПродолжить?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Чтобы завершить деинсталляцию, ваш сеанс в Windows будет автоматически завершен.\n\nПродолжть?"
    IDS_SETUP_UNINSTALL_RESTART "Пожалуйста, перезагрузите компьютер, чтобы завершить деинсталляцию.\n\nПерезагрузить сейчас?"
    IDS_SETUP_UNINSTALL_FINISH  "Удаление завершено. Благодарим вас за использование ExplorerPatcher."
    IDS_SETUP_FAILED            "При обслуживании ExplorerPatcher произошла ошибка.\nСкорее всего, это вызвано тем, что один или несколько файлов резервной копии из предыдущего обновления все еще используются. Разблокировка файлов должна устранить эту проблему.\n\nШаги по устранению неполадок:\n• Закройте и снова откройте диалоговое окно ""Свойства"", если оно открыто в данный момент.\n• Завершите и перезапустите все процессы ""explorer.exe "".\n• Если вы используете ExplorerPatcher как расширение оболочки, тогда перезагрузите компьютер, возможно, это исправит проблему.\n• Наконец, перезагрузите компьютер и повторите попытку."
END
